* {
  margin: 0;
  padding: 0;
}
body {
  background-color: black;
  color: rgba(224, 234, 241, 0.628);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  overflow: auto;
}

.the-graph-heading {
  position: fixed;
  top: 20px;
  left: 20px;
  font-weight: 100;
}

@media screen and (max-width: 500px) {
  .the-graph-heading {
    font-size: 16px;
    font-weight: 100;
  }
}

.node {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid rgba(255, 255, 255, 0.459);
  z-index: 20;
  background-color: black;
  color: white;
}
.child {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  bottom: -90px;
  border: 1px solid rgba(255, 255, 255, 0.459);
  background-color: black;
  z-index: 20;
  color: white;
}
#graph-container {
  position: relative;
  height: 100%;
  width: 100%;
}
.edge {
  position: absolute;
  border: 0.1px solid rgb(135, 125, 125);
}
form {
  background-color: rgba(255, 255, 255, 0.07);
  border: 0.5px solid rgba(255, 255, 255, 0.299);
  display: inline-block;
  align-items: center;
  padding: 15px;
  border-radius: 6px;
}
input {
  width: calc(100% - 40px);
  color: white;
  background-color: black;
  border: 0.7px solid rgba(191, 164, 164, 0.599);
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 8px;
}
button {
  background-color: black;
  margin-top: 10px;
  cursor: pointer;
  width: 100%;
  height: 40px;
  padding: 10px 20px;
  display: block;
  background-color: white;
  color: black;
  border-radius: 8px;
  border: 0.4px solid gray;
}
button:hover {
  background-color: black;
  color: white;
  transition: 0.3s;
}
.form-container {
  position: fixed;
  bottom: 15px;
  left: 15px;
  display: flex;
  width: 400px;
  flex-direction: row;
  gap: 10px;
}
